.gallery-page {
    position: relative;
    width: 70%;
    margin: auto;
    .title {
        font-family: $title-font;
        background-color: $blue-darkest;
        padding: 15px;
        color: $white;
        width: fit-content;
        margin-bottom: 10px;
        margin-left: 5px;
    }
}