.homepage {
    width: 100%;
    padding-top: 20px;
    position: relative;
    .image_section {
        position: relative;
        .images {
            width: 70%;
            margin-left: 30%;
            right: 0;
            z-index: 5;
            position: absolute;
            img {
                width: 100%;
            }
        }
    
        .quote {
            margin-left: 10px;
            padding: 20px;
            .line {
                font-family: $title-font;
                font-size: 60px;
                color: $white;
                position: relative;
                overflow: hidden;
                height: 100px;
                z-index: 20;
                span {
                    background-color: $blue-darkest;
                    padding-left: 20px;
                    padding-right: 20px;
                    position: absolute;
                    padding-top: 10px;
                    vertical-align: middle;
                    b {
                        color: $accent;
                        font-weight: normal;
                    }
                }
                
            }

            @media (max-width: $breakpoint-large) {
                .line {
                    font-size: 40px;
                    height: 70px;
                    span { padding-top: 10px; }
                }
            }

            @media (max-width: $breakpoint-medium) {
                .line {
                    font-size: 20px;
                    height: 40px;
                    span { padding-top: 4px; }
                }
            }

        }
    }
    .summaries {
        padding: 20px;
        margin: auto;
        margin-top: 7%;
        width: 70%;
        z-index: 5;
        position: relative;

        h1 {
            font-family: $title-font;
            color: $white;
            background-color: $blue-darkest;
            display: inline-block;
            padding: 15px;
            b {
                color: $accent;
                font-weight: normal;
            }
        }

        @media (max-width: $breakpoint-large) {
            h1 {
                font-size: 20px;
            }
        }

        .news {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;

            .news-title { display: block; }

            .news-items::-webkit-scrollbar {
                display: none; // chrome
              }
            .news-items {
                -ms-overflow-style: none;  // IE and Edge
                scrollbar-width: none;  // Firefox
            }

            .news-items {
                margin-top: 20px;
                overflow: auto;
                white-space: nowrap;

                .news-item {
                    position: relative;
                    white-space: normal;
                    text-align: start;
                    display: inline-block;
                    margin: auto;
                    margin-left: 20px;
                    margin-bottom: 30px;
                    background-color: $blue-light;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    width: 800px;
                    vertical-align: top;
            
                    .info {
                        padding: 15px;
                        display: inline-block;
                        height: 200px;
                        vertical-align: top;
                        width: calc(100% - 200px);
                        .item-title {
                            font-size: 20px;
                            color: $blue-darkest;
                            font-weight: bold;
                        }
            
                        @media (max-width: $breakpoint-large) {
                            .item-title { font-size: 15px; }
                            .meta { font-size: 10px; }
                            .article-link { padding: 3px; font-size: 10px }
                        }
                        
                        .meta {
                            color: $blue-medium;
                            font-weight: bold;
                            margin-bottom: 0;
                        }
                        .article-link {
                            margin-top: 10px;
                            padding: 10px;
                            background-color: $blue-dark;
                            color: $white;
                            display: inline-block;
                            cursor: pointer;
                        }
            
                        @media (max-width: 400) {
                            .item-title {
                                font-size: 10px;
                            }
                        }
                    }
            
                    .image {
                        margin: 0;
                        padding: 0;
                        width: 200px;
                    }

                    @media (max-width: $breakpoint-large) {
                        .image { width: 150px; }
                        .info { height: 150px; width: 350px;}
                    }
             
                }

                @media (max-width: $breakpoint-large) {
                    .news-item { width: 500px; }
                }
            }

            
        }

        .platform {
            .platform-title {
                display: block;
            }
            .issue-items::-webkit-scrollbar {
                display: none; // chrome
              }
            .issue-items {
                -ms-overflow-style: none;  // IE and Edge
                scrollbar-width: none;  // Firefox
            }
            .issue-items {
                overflow: auto;
                white-space: nowrap;
                margin-top: 20px;
                text-align: center;
                .issue-title {
                    padding: 20px;
                    background-color: $blue-light;
                    display: inline-block;
                    margin-left: 20px;
                    color: $black;
                }
                @media (max-width: $breakpoint-large) {
                    .issue-title { font-size: 15px; padding: 8px; }
                }
            }
        }

        .social-media {
            margin-top: 40px;
            .embeds {
                text-align: center;
                margin: auto;
                margin-top: 20px;
                width: 80%;
            }
        }

    }

    @media (max-width: $breakpoint-large) {
        .summaries {
            margin-top: 1%;
            width: 100%;
        }
    }

    @media (max-width: $breakpoint-small) {
        .summaries { margin-top: 5%; }
        .social-media .embeds { width: 100%; }
    }

    .join-button {
        box-shadow: 10px;
        cursor: pointer;
        font-family: $title-font;
        font-size: 40px;
        line-height: 40px;
        margin-left: 30px;
        color: $black;
        width: fit-content;
        background-color: $accent;
        padding: 20px;
        text-align: center;
        z-index: 9;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    a {
        text-decoration-color: $black;
    }

    @media (max-width: $breakpoint-large) {
        .join-button { font-size: 20px; }
    }

    @media (max-width: $breakpoint-medium) {
        .join-button { padding: 5px; }
    }

    .upcoming-event {
        z-index: 9;
        position: relative;
        margin: 20px;
        margin-left: 60px;
        margin-top: 5%;
        padding: 10px;
        background-color: $white;
        width: fit-content;
        text-align: center;
        color: $black;
        .upcoming-event-title {
            width: 100%;
            cursor: pointer;
            font-family: $title-font;
            font-size: 40px;
            line-height: 40px;
            color: $black;
            background-color: $blue-light;
            padding: 20px;
            text-align: center;
            z-index: 9;
            position: relative;
        }
        .event-date {
            font-size: 20px;
        }
    }

    @media (max-width: $breakpoint-large) {
        .upcoming-event {
            .upcoming-event-title { font-size: 25px; padding: 5px; }
            .event-title { font-size: 20px; }
            .event-date { font-size: 15px; }
        }
    }

}