.homepage {
    width: 100%;
    padding-top: 20px;
    position: relative;
    .image_section {
        position: relative;
        .images {
            width: 70%;
            margin-left: 30%;
            right: 0;
            z-index: 5;
            position: absolute;
            img {
                width: 100%;
            }
        }
    
        .quote {
            margin-left: 10px;
            padding: 20px;
            .line {
                font-family: $title-font;
                font-size: 60px;
                color: $white;
                position: relative;
                overflow: hidden;
                height: 100px;
                z-index: 20;
                span {
                    background-color: $blue-darkest;
                    padding-left: 20px;
                    padding-right: 20px;
                    position: absolute;
                    padding-top: 10px;
                    vertical-align: middle;
                    b {
                        color: $accent;
                        font-weight: normal;
                    }
                }
                
            }

            @media (max-width: $breakpoint-large) {
                .line {
                    font-size: 40px;
                    height: 70px;
                    span { padding-top: 10px; }
                }
            }

            @media (max-width: $breakpoint-medium) {
                .line {
                    font-size: 20px;
                    height: 40px;
                    span { padding-top: 4px; }
                }
            }

        }
    }
    
}