// Colors
$blue-darkest: #1b262c;
$blue-dark: #0f4c75;
$blue-medium-dark: #16679e;
$blue-medium: #3282b8;
$blue-light: #bbe1fa;
$accent: #e0dd19;
$black: #000;
$white: #FFF;
$background-blue-1: #2f78a8;
$background-blue-2: #2c72a1;

// Fonts
@font-face {
    font-family: 'Bebas Neue';
    src: url(../res/fonts/BebasNeue-Regular.ttf);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
$title-font: 'Bebas Neue', sans-serif;

// Breakpoints
$breakpoint-huge: 1425px;
$breakpoint-large: 992px;
$breakpoint-medium: 768px;
$breakpoint-small: 576px;
$breakpoint-tiny: 0px;
