// Colors
$blue-darkest: #1b262c;
$blue-dark: #0f4c75;
$blue-medium: #3282b8;
$blue-light: #bbe1fa;
$accent: #e0dd19;
$black: #000;
$white: #FFF;

// Fonts
$title-font: 'Bebas Neue', cursive;

// Breakpoints
$breakpoint-large: 992px;
$breakpoint-medium: 768px;
$breakpoint-small: 576px;
$breakpoint-tiny: 0px;
