:root {
    --main-blue: #1f4f9c;
}

* {
    /* font-family: 'Open Sans', sans-serif; */
}

body {
    background-color: white !important;
}

.root_container {
    width: 90%;
    min-width: 500px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header_nav {
    background-color: white;
}

.header_title {
    font-size: 500%;
    font-family: 'Bebas Neue', cursive;
    color: var(--main-blue);
    /* margin-bottom: -25px; */
}

.header_background {
    vertical-align: center;
}

.header_icon {
    width: 20px;
    margin: 10px;
    margin-top: 20px;
    vertical-align: top;
}

.header_icon_row {
    display: inline-block;
    float: right;
}

.nav-link {
    font-size: 150%;
    font-family: 'Bebas Neue', cursive;
}

.header_navbar {
    padding: 0 !important;
}

.scale_effect_20 { transition: all .1s ease-in-out; }
.scale_effect_20:hover { transform: scale(1.2); }
.scale_effect_50 { transition: all .1s ease-in-out; }
.scale_effect_50:hover { transform: scale(1.5); }

.bottom_margin {
    margin-bottom: 15px;
}

.banner {
    background-color: #dfdbd8;
    padding: 15px;
}

.title {
    font-family: 'Bebas Neue', cursive;
    color: var(--main-blue);
    font-size: 300%;
}

.small_title {
    font-family: 'Bebas Neue', cursive;
    color: var(--main-blue);
    font-size: 200%;
}

.text_container {
    padding: 15px;
}

.pointer {
    cursor: pointer;
}